@{
    ViewData["Title"] = "Home Page";

}
@if (@Model != null)
{
    <div class="text-center">
      
            <div id="chart_div"></div>
        
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);


      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Requester', @Model.Requesters],
          ['Producers', @Model.Providers],
          ['Full', @Model.Full]
        ]);

        var options = {'title':'You have @Model.Total nodes',
                       'width':400,
                       'height':300};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
}

