.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #162e49;
}


    .nav-item:hover .nav-link {
        color: #5C88C6 !important;
    }


    @media (min-width: 767px) {
        .nav-item:hover:after {
            bottom: 0;
            opacity: 1;
        }
    }

    .nav-item:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background-color: #5C88C6;
        opacity: 0;
        transition: all 200ms linear;
    }

    .nav-link {
        position: relative;
        padding: 5px 0 !important;
        display: inline-block;
    }

    .nav-item {
        position: relative;
        transition: all 200ms linear;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
        transform: rotate(45deg);
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
        transform: translateY(8px) rotate(-45deg);
    }



    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        border-color: transparent;
    }

    @media (max-width: 767px) {
        .nav-item::before {
            position: absolute;
            display: block;
            top: 15px;
            left: 0;
            width: 11px;
            height: 1px;
            content: "";
            border: none;
            background-color: white;
            vertical-align: 0;
        }
    }


    .navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
        width: 24px;
        position: absolute;
        height: 1px;
        background-color: white;
        top: 0;
        left: 0;
        content: '';
        transition: all 300ms linear;
    }

    .navbar-light .navbar-toggler-icon:after {
        top: 8px;
    }

    .navbar-toggler {
        float: right;
        border: none;
        padding-right: 0;
    }

    .navbar-light .navbar-toggler-icon {
        width: 24px;
        height: 17px;
        background-image: none;
        position: relative;
        border-bottom: 1px solid white;
        transition: all 300ms linear;
    }

    .nav-link {
        color: white !important;
        font-weight: 500;
        transition: all 200ms linear;
    }

    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
