

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #162e49;
}


.item-layout:hover .link-layout {
    color: #5C88C6 !important;
}


@media (min-width: 767px) {
    .item-layout:hover:after {
        bottom: 0;
        opacity: 1;
    }
}

.item-layout:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #5C88C6;
    opacity: 0;
    transition: all 200ms linear;
}

.link-layout {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.item-layout {
    position: relative;
    transition: all 200ms linear;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}



.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

@media (max-width: 767px) {
    .item-layout::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: white;
        vertical-align: 0;
    }
}


.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: white;
    top: 0;
    left: 0;
    content: '';
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid white;
    transition: all 300ms linear;
}

.link-layout {
    color: white;
    font-weight: 500;
    transition: all 200ms linear;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nodes-table {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .link-layout.active,
.nav-pills .show > .link-layout {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.Deployment {
    margin-top: 100px;
}




/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.NodeCount * {
    text-align: left;
}

.NodeCount {
    font-weight: 500;
    color: black;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%
}

.table-title {
    font-size: x-large;
    font-weight: bold;
}

.detailed-requester li > a {
    color: #162e49;
    padding: 15px;
    font-weight: 500;
}

    .detailed-requester li > a > i {
        color: #162e49;
    }

.detailed-producer li > a {
    color: #162e49;
    padding: 15px;
    font-weight: 500;
}

    .detailed-producer li > a > i {
        color: #162e49;
    }

.navbar-brand {
    padding-right: 50px;
}

.detailed-requester {
    border-bottom: 1px solid black
}

.detailed-producer {
    border-bottom: 1px solid black
}

.req-nav {
    width: 100%
}

.requester-cards {
    padding-top: 75px;
}

.alignleft {
    float: left;
    font-weight: bold;
    color: dimgray
}

.req-card-header {
    font-weight: bolder
}

.alignright {
    float: right;
    color: gray;
}

.card {
    min-height: 310px;
}

.links {
    max-width: 250px;
    padding-top: 40px;
}

.req-config-card {
    padding-top: 80px;
}

.card-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.stake-card {
    display: flex;
    min-height: 200px;
}

.stake-display {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    text-align: center;
}

    .stake-display h3 {
        padding-top: 43px;
    }

.sub-button {
    padding-top: 5px !important;
}

.stake-display h3 {
    font-size: large;
}

.outter-Stake {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    border-radius: 6px;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.display-stake img {
    width: 100%;
    height: auto;
}

.stake-text {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}

.display-stake {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    text-align: center;
    margin-bottom: 28px;
}

.stake-value {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

.stake-underlying {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 16px;
    line-height: 24px;
    color: #707A8A;
}

.stake-buttons {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
}

.btn-stake {
    margin: 0px 8px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    line-height: 20px;
    word-break: keep-all;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 24px;
    border: none;
    background-color: #162e49;
    min-width: 52px;
    flex: 1 1 0%;
    height: 40px;
    font-size: 14px;
}

.btn-claim {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(30, 35, 41);
    border-radius: 4px;
    padding: 5px 11px;
    min-height: 24px;
    border: 1px solid rgb(234, 236, 239);
    box-shadow: none;
    min-width: 52px;
    flex: 1 1 0%;
    height: 40px;
    font-size: 14px;
    background-color: white;
}

.most-outer {
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 28px;
}

.outer-outer {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
}

.icon-button {
    background-color: transparent;
    display: inline-block;
    border: none;

}

    .icon-button:hover {
        background-color: transparent;
    }


.currentPage {
    color: #5C88C6 !important;
    max-width: max-content;
}

.currentPage:after {
    position: absolute;
    bottom: -0px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #5C88C6;
    object-fit: contain;
}



.add-stake {
    margin: 7%;
    text-align: center;
}

.add-stake input {
        margin-top: 7px !important;
    }

.add-stake h7 {
        opacity: 0.5;
    }

.add-stake input[type=number] {
        margin: 0 auto !important;
        width: 80%;
    }

.add-stake input[type=submit] {
        margin: 0 auto;
        width: 40%;
    }

    .add-stake input[type=button] {
        width: 40% ;
    }


