@using BlockBase.Dapps.CloudManager.WebApp.Models.Nodes;
@model RequesterStakeViewModel


<div class="req-config-card" style="max-width: 600px">
    <div class="card-padding">
        <div class="card-padding">
            <div class="card">
                <div class="card-header">
                    <h5 class="float-left">
                        Stake
                    </h5>
                </div>
                <div class="card-body stake-card">
                    <div class="stake-display justify-content-center">
                        @if (@Model.Stake != null)
                        {<h3>@Model.Stake</h3>}

                        <a asp-area="" asp-controller="Nodes" asp-action="RequesterStakeClaim" asp-route-id=@Model.Account>
                            <button class="btn btn-dark" type="button">Claim</button>
                        </a>

                    </div>
                    <div class="form-group d-flex flex-row-reverse" style="padding-left:100px;">
                        <div class="bd-highlight">
                            <form asp-controller="Nodes" asp-action="RequesteAddStake">
                                <label asp-for="Stake" class="control-label"></label>
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="Stake" type="number" step=any min=0 class="form-control ml-2" />
                                <span asp-validation-for="Stake" class="text-danger"></span>
                                <div class="form-group form-end sub-button">
                                    <input type="submit" value="Submit" class="btn btn btn-dark" />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
