<link href="/css/sandbox/sandbox.css" rel="stylesheet" />
<link href="/css/sandbox/sidebarStyle.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" href="/css/sandbox/codemirror.css">
<script src="/lib/codemirror/codemirror.js"></script>
<script src="/lib/codemirror/sql.js"></script>
<link href="/css/sandbox/show-hint.css" rel="stylesheet" />
<script src="/lib/codemirror/show-hint.js"></script>
<script src="/lib/codemirror/sql-hint.js"></script>
<link href="/css/sandbox/simplescrollbars.css" rel="stylesheet" />
<script src="/lib/codemirror/simplescrollbars.js"></script>

<script>var bootstrapTooltip = jQuery.fn.tooltip;</script>
<script src="/lib/jquery-ui-layout/js/jquery.js"></script>

<script src="/lib/jquery-ui-layout/js/jquery-ui.js"></script>
<script>jQuery.fn.tooltip = bootstrapTooltip;</script>
<script src="/lib/jquery-ui-layout/js/source/stable/jquery.layout.js"></script>

<script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.js"></script>

<link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.css">

<style>
    .dataTables_wrapper {
        margin-bottom: 2rem;
    }
</style>
<script type="text/javascript">

    // grid options

    var outerLayout, middleLayout, innerLayout;

    $(document).ready(function () {

        outerLayout = $('.painel').layout({
            center__paneSelector: ".outer-center"
            , west__paneSelector: ".outer-west"
            , east__paneSelector: ".outer-east"
            , west__size: 210
            , west__minSize: 125
            , east__size: 125
            , spacing_open: 8 // ALL panes
            , spacing_closed: 12 // ALL panes
            , north__spacing_open: 0
            , south__spacing_open: 0
            //, west__spacing_open: 0
            , center__onresize: "middleLayout.resizeAll"
        });

        middleLayout = $('div.outer-center').layout({
            center__paneSelector: ".middle-center"
            , west__paneSelector: ".middle-west"
            , east__paneSelector: ".middle-east"
            , west__size: 100
            , east__size: 100
            , spacing_open: 8  // ALL panes
            , spacing_closed: 12 // ALL panes
            , center__onresize: "innerLayout.resizeAll"
        });

        innerLayout = $('div.middle-center').layout({
            center__paneSelector: ".inner-center"
            , west__paneSelector: ".inner-west"
            , east__paneSelector: ".inner-east"
            , north__paneSelector: ".inner-north"
            , west__size: 75
            , east__size: 75
            , north__size: 150 /*$('.teste').height() / 2*/
            , north__minSize: 125
            , north__maxSize: $('.painel').height() - 180
            , spacing_open: 8  // ALL panes
            , spacing_closed: 8  // ALL panes
            , west__spacing_closed: 12
            , east__spacing_closed: 12
        });

    });
</script>

<div class="sandbox-container">
    <div class="painel">
        <div class="outer-center">
            <div class="middle-center">
                <div class="inner-center" id="dataTablesZone">
                    <table id="accountsTable" class="table table-striped table-bordered table-hover responsive w-100"></table>
                </div>

                <div class="inner-center"></div>
                <div class="inner-north p-0">
                    <div id="codeeditor" class="h-100"></div>
                </div>
            </div>
        </div>
        <div class="outer-west" style="overflow-y:scroll;">
            <div class="wrapper">
                <!-- Sidebar -->
                <nav id="sidebar" class="ml-0">
                    <ul class="list-unstyled components" id="insertAfter" style="margin-bottom: 0px"></ul>
                </nav>
            </div>
        </div>
        <div class="ui-layout-north" style="border-bottom:0;background:#162e49">
            <div class="sandHeadContainer" style="display:flex">

                <div class="col-md-1 col-sm-4" style="padding:0px; text-align: center;">
                    <button class="btn" id="run"><i class="fa fa-play"></i> Run Query <div id="run-button-loader" class=""></div></button>
                </div>
                <div class="col-md-1 col-sm-4">
                    <a class="nav-link nav-item sandHeadLink active" id="empty" onclick="changeCodeEditor('empty')" href="#">Empty</a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a class="nav-link nav-item sandHeadLink" id="hospital" onclick="changeCodeEditor('hospital')" href="#">Hospital Example</a>
                </div>
                <div class="col-md-2 col-sm-12">
                    <a class="nav-link nav-item sandHeadLink" id="foodDelivery" onclick="changeCodeEditor('foodDelivery')" href="#">UberEats Example</a>
                </div>
                <div class="col-md-2 col-sm-12">
                    <a class="nav-link nav-item sandHeadLink" id="cp" onclick="changeCodeEditor('cp')" href="#">Railway System Example</a>
                </div>
                <div class="col-md-4 col-sm-12">
                    <input class="nav-item" id="requesterEndpoint" placeholder="Insert your node endpoint here" type="text" style="float:right; width: 100%; padding: 4px;" />
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<script src="~/js/sandbox.js"></script>