@using BlockBase.Dapps.CloudManager.WebApp.Models.Nodes;
@model RequesterOptionViewModel

<div class="req-config-card" style="max-width: 50%">
    <form asp-controller="Nodes" asp-action="New">
        <div class="card-padding">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#Full">Full</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Validator">Validator</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#History">History</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div id="Full" class="tab-pane fade in active show">
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="Full.MaxPaymentPerBlock" class="control-label"></label>
                                <input asp-for="Full.MaxPaymentPerBlock" class="form-control ml-2 required" />
                                <span asp-validation-for="Full.MaxPaymentPerBlock" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="Full.MinPaymentPerBlock" class="control-label"></label>
                                <input asp-for="Full.MinPaymentPerBlock" class="form-control ml-2" />
                                <span asp-validation-for="Full.MinPaymentPerBlock" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="Full.Required" class="control-label"></label>
                                <input asp-for="Full.Required" class="form-control ml-2" />
                                <span asp-validation-for="Full.Required" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="Validator" class="tab-pane fade">
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="Validator.MaxPaymentPerBlock" class="control-label"></label>
                                <input asp-for="Validator.MaxPaymentPerBlock" class="form-control ml-2" />
                                <span asp-validation-for="Validator.MaxPaymentPerBlock" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="Validator.MinPaymentPerBlock" class="control-label"></label>
                                <input asp-for="Validator.MinPaymentPerBlock" class="form-control ml-2" />
                                <span asp-validation-for="Validator.MinPaymentPerBlock" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="Validator.Required" class="control-label"></label>
                                <input asp-for="Validator.Required" class="form-control ml-2" />
                                <span asp-validation-for="Validator.Required" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="History" class="tab-pane fade">
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="History.MaxPaymentPerBlock" class="control-label"></label>
                                <input asp-for="History.MaxPaymentPerBlock" class="form-control ml-2" />
                                <span asp-validation-for="History.MaxPaymentPerBlock" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="History.MinPaymentPerBlock" class="control-label"></label>
                                <input asp-for="History.MinPaymentPerBlock" class="form-control ml-2" />
                                <span asp-validation-for="History.MinPaymentPerBlock" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                <label asp-for="History.Required" class="control-label"></label>
                                <input asp-for="History.Required" class="form-control ml-2" />
                                <span asp-validation-for="History.Required" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-padding">
            <div class="card">
                <div class="card-header">
                    <h2 class="float-left">
                        State
                    </h2>
                </div>
                <div class="card-body">
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="MinimumCandidatureStake" class="control-label"></label>
                        <input asp-for="MinimumCandidatureStake" class="form-control ml-2" />
                        <span asp-validation-for="MinimumCandidatureStake" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-padding">
            <div class="card">
                <div class="card-header">
                    <h2 class="float-left">
                        Block
                    </h2>
                </div>
                <div class="card-body">
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="BlockSize" class="control-label"></label>
                        <input asp-for="BlockSize" class="form-control ml-2" />
                        <span asp-validation-for="BlockSize" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="TimeBetweenBlocks" class="control-label"></label>
                        <input asp-for="TimeBetweenBlocks" class="form-control ml-2" />
                        <span asp-validation-for="TimeBetweenBlocks" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group ml-4">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>


